@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
    html {
        font-family: "Cascadia Code";
        @apply selection:text-dark selection:bg-info h-full w-full text-[15px];
    }
    ::-webkit-scrollbar {
        display: none;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

@layer components {
    .command {
        @apply text-command;
        text-shadow: 0 0 3px #73abad;
    }
    .lang {
        @apply text-lang;
        text-shadow: 0 0 3px #ada873;
    }

    .bg {
        background-image: linear-gradient(#6e45e1, #89d4cf);
    }
}
